/* Font : sans-serif */
header { 
    position: fixed; 
    display: block; 
    height: 80px; 
    background-color:#beb298; 
    padding: 3px; 
    left:0; right:0; top:0; 
    z-index:5;
    border-bottom: 5px solid #222222;
    line-height: 66px;
}

.logo {
    display:inline-block; 
    width:80px;
    margin-top: 1px;
}

.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 0px; padding-bottom: 0px;
    text-align: justify;
}

.welcome {
    font-size: xx-large;
    font-family: sans-serif;
    color: #222222;
    text-align: center;
}

body {
    background-color: #eae6de ;
}

.hr {
    width: 90%; 
    height: 5px;
}

.intro{
    padding-top: 115px;
    text-align: center;
    justify-content: center;
    font-size: larger;
    font-family: sans-serif;
}

.htmldasar{
    background: rgb(255, 255, 255);
    padding: 30px;
    border: 10px solid #beb298;
    text-align: center;
    width: 230px;
    font-family: sans-serif;
}

.materi1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.materi2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.textdasar{
    text-align: center;
    justify-content: center;
}

.atas{
    justify-content: space-evenly;
}